extends layout 

block content 
    h1 ID: #{book_instance._id}

    p #[strong Title: ] 
        a(href=book_instance.book.url) #{book_instance.book.title}
    
    p #[strong Imprint:] #{book_instance.imprint}

    p #[strong Status: ]
        if book_instance.status==='Available'
            span.text-success #{book_instance.status}
        else if book_instance.status==='Maintenance'
            span.text-danger #{book_instance.status}
        else 
            span.text-warning #{book_instance.status}

    if book_instance.status!='Available'
        p #[strong Due Date:] #{book_instance.due_back_formatted}

    hr
    p 
        a(href=book_instance.url+'/update') Update book instance
    p 
        a(href=book_instance.url+'/delete') Delete book instance